h1{
    background-color: rgb(255, 0, 43);
    padding: auto;
    text-align: center;
    border: 0cap;
}
h3{
    background-color: blue;
    padding: auto;
    text-align: center;
    border: 0cap;
}